@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.part1{
    max-width: 1300px;
    margin: auto;
    padding-left: 22px;
    padding-right: 22px;
}
.navi{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    flex-basis: 45%;
    min-width: 300px;
}
.column img{
    max-width: 100%;
    padding: 50px 0;
}
.column h1{
    font-size: 50px;
    line-height: 50px;
    margin: 24px 0;
}
.btnn{
    display: inline-block;
    background-color: crimson;
    color: #000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: translation  0.5s;
}
.btnn:hover{
    background: darkgray;
}
.section1{
    background-image: radial-gradient(circle, #c9d1cd, #d5dcdc, #e3e8e9, #f2f3f5, #ffffff);
}
.section1 .row{
margin-top: 75px;
}

.section2{
    margin: 70px 0;
}
.column1{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.column1 img{
    width: 100%;
}
.sub-sec2{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.column2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.column2 img{
    width: 100%;
}
.title{
    position: relative;
    text-align: center;
    margin: 0 auto 60px;
    line-height: 60px;
    color: black;
}
.title::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background:orange;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #000;
    font-weight: normal;
}
.column2 p{
    font-size: 15px;
}
.star .fas{
    color: orange;
}
.column2:hover{
    transform: translateY(-5px);
}
.section3{
    background-image: radial-gradient(circle, #c9d1cd, #d5dcdc, #e3e8e9, #f2f3f5, #ffffff);
    margin-top: 60px;
    padding: 30px 0;
}
.column .sub-img{
    padding: 50px;
}
para{
    color:dimgrey
}
.section4{
    padding-top: 100px;
}
.section4 .column1{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.section4 .column1 img{
margin-top: 20px;
width: 50px;
border-radius: 50%;
}
.section4 .column1:hover{
    transform: translateY(-10px);
}
.fas fa-star{
    font-size: 30px;
    color: #000;
}
.column1 p{
    font-size: 15px;
    margin: 12px 0;
    color: dimgray;
}
.section5{
    margin: 60px 0;
}
.section4 .column1 h3{
    font-weight: 600;
    color: #000;
    font-size: 16px;
}
/*----company---*/
.company{
    margin: 100px auto;
}
.column3{
    width: 150px;
}
.column3 img{
    cursor: pointer;
    width: 100%;
    filter: grayscale(100%);
}
.column3 img:hover{
    filter: grayscale(0);

}
.menu{
    width: 28px;
    margin-left: 20px;
    display: none;
}





/*  Footer Styles  */

#footer{
    background: #e0e0e0;
    padding: 20px 0;
}
#footer a{
    color: #999999;
    padding: 0;
    text-decoration: none;
}
#footer a:hover{
    color: #666666;
}
#footer ul{
    list-style: none;
    padding-left: 0px;
}
#footer .social{
    text-align: left;
}
#footer .social a{
    margin: 0px 10px 0px 0px;
    display: inline-block;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    background: #555555;
    text-decoration: none;
}
#footer .social a:hover{
    color: #dedede;
    background: #777777;
}

/*  Copyright Styles  */

#copyright{
    background: #000;
    color: #cccccc;
    padding: 20px 0px;
    font-size: 12px;
    
}
#copyright p{
    margin: 0px;
    
}


/*------cart-page-----*/
.cart-page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #000;
    font-weight: normal;
}
td{
    padding: 10px 8px;
}
td a{
    color: #000;
    font-size: 12px;

}
td input{
   
    padding:5px;
    width: 50px;
    height: 30px;

}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.price{
    display: flex;
    justify-content: flex-end;
}
.price table{
    border-top: 5px solid #000;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


/*---------allitem------*/
.row11{
    margin: 50px auto;
}
select{
border: 3px solid orange;
padding: 5px;
border-radius: 30px;
}
select :focus{
    outline: none;
}
.btn12{
    margin: 0 auto 80px;
    text-align: center;
}
.btn12 span{
    display: inline-block;
    border: 2px solid orange;
    margin-left: 10px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
cursor: pointer;
}
.btn12 span:hover{
    background: darkgrey;
    color: #000;
}

.one-pro{
    margin-top: 80px;
}
.one-pro .column img{
    padding: 0px;

}
.one-pro .column{
    padding: 20px;
}
.one-pro h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.one-pro select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    outline: none;
}
.one-pro input{
    width: 50px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
border: 2px solid #000;
}
input :focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
@media only screen and (max-width: 800px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #c9d1cd;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
     text-align: center;
    }
    .column,.column1,.column2,.column3{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
    .one-pro .row{
        text-align: left;
    }
    .one-pro .column{
        padding: 20px 0;
    }
    .one-pro h1{
        font-size: 25px;
        line-height: 21px;
        
    }
}